
<form class="search-form">
  <mat-form-field appearance="outline">
    <mat-label>Place</mat-label>
    <input type="text"
      placeholder="Ex.: Dublin, Ireland"
      aria-label="Place"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto" 
      />

    <mat-icon matSuffix>search</mat-icon>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="locationDesc" (optionSelected)="optionSelected($event)">
      @for (option of filteredOptions$ | async; track option) {
        <mat-option [value]="option">
          {{ locationDesc(option) }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>