main {
    background: #c1d2d9;
    background: linear-gradient(0deg, #9da3a5 0%, #fdfdfd 100%);
    min-height: calc(100vh - 71px);
    
    .search-box {
        padding-top: 20px;
        max-width: 100%;
    
        app-search-input {
            margin: 0 auto;
            width: 60%;
        }
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding: 10px;

        &.no-results {
            grid-template-columns: repeat(1, 1fr);

            p {
                margin: 0 auto;
                max-width: 90%;
                font-weight: 500;
            }
        }
    
        mat-card {
            background-color: #0128390f;
    
            &.main-info {
                background-color: #000;
                min-height: 350px;
                grid-column: 1 / 4;
                grid-row: 1 / 6;

                * {
                    color: #FDFDFD;
                }

                &::before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    opacity: .45;
                }
    
                &.id-01d::before {
                    background-image: url('/assets/images/01d.jpg');
                }
                &.id-01n::before {
                    background-image: url('/assets/images/01n.jpg');
                }
                &.id-02d::before {
                    background-image: url('/assets/images/02d.jpg');
                }
                &.id-02n::before {
                    background-image: url('/assets/images/02n.jpg');
                }
                &.id-03d::before {
                    background-image: url('/assets/images/03d.jpg');
                }
                &.id-03n::before {
                    background-image: url('/assets/images/03n.jpg');
                }
                &.id-04d::before {
                    background-image: url('/assets/images/04d.jpg');
                }
                &.id-04n::before {
                    background-image: url('/assets/images/04n.jpg');
                }
                &.id-09d, &.id-10d {
                    &:before {
                        background-image: url('/assets/images/09d.jpg');
                    }
                }
                &.id-09n, &.id-10n {
                    &:before {
                        background-image: url('/assets/images/09n.jpg');
                    }
                }
                &.id-11d::before {
                    background-image: url('/assets/images/11.jpg');
                }
                &.id-11n::before {
                    background-image: url('/assets/images/11.jpg');
                }
                &.id-13d::before {
                    background-image: url('/assets/images/13.jpg');
                }
                &.id-13n::before {
                    background-image: url('/assets/images/13.jpg');
                }
                &.id-50d::before {
                    background-image: url('/assets/images/50.jpg');
                }
                &.id-50n::before {
                    background-image: url('/assets/images/50.jpg');
                }
    
                mat-card-content {
                    justify-content: space-around;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
    
                    .weather {
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        height: auto;
    
                        &-info, &-degrees {
                            opacity: .9;
                            flex: 0 2 50%;
                            text-align: center;
                        }
    
                        &-info {
                            align-items: center;
                            justify-content: space-evenly;
                            font-weight: 500;
                            font-size: 2rem;
                            margin: auto 0;
    
                            img {
                                width: 72px;
                            }
                        }
    
                        &-degrees {
                            flex-direction: column;
                            align-items: center;
    
                            &-feels-like, &-min-max {
                                font-weight: 400;
                                font-size: .75rem;
                                margin-top: 5px;
    
                                & > span {
                                    font-size: .9rem;
                                    font-weight: 500;
                                }
                            }
    
                            &-real {
                                font-weight: 500;
                                font-size: 4rem;
    
                                & > span {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
    
                    .sun {
                        width: 100%;
                        min-height: 58px;
                        justify-content: space-around;
    
                        * {
                            opacity: .95;
                            font-weight: 500;
                        }
    
                        .sunrise, .sunset {
                            img {
                                width: 72px;
                            }
                        }
    
                        .sunrise {
                            flex-direction: column;
                            align-items: center;
    
                            &:before {
                                min-width: 58px;
                                left: -60px;
                                top: calc(-58px / 4);
                            }
                        }
    
                        .sunset {
                            flex-direction: column;
                            align-items: center;
    
                            &:before {
                                min-width: 58px;
                                left: -60px;
                                top: calc(-58px / 4);
                            }
                        }
                    }
                }
            }
    
            &.details {
                mat-card-header {
        
                    mat-card-subtitle {
                        color: #02364E;
                    }
                }

                mat-card-content {
                    display: flex;
                    justify-content: space-between;
    
                    img {
                        width: 48px;
                        opacity: .8;
                    }
    
                    p {
                        margin: auto 0;
                        font-size: 2.5rem;
                        font-weight: 500;
                        color: #02364E;
                        white-space: nowrap;
    
                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}



@media (max-width: 600px) {
    main {
        .search-box {
            app-search-input {
                width: 90%;
            }
        }
    
        .container {
            width: auto;
            margin: 0;
            box-shadow: none;
            grid-template-columns: repeat(2, 1fr);
    
            mat-card {
    
                &.main-info {
                    grid-column: 1 / 3;
                    grid-row: 1;
    
                    mat-card-content {
                        justify-content: space-evenly;
    
                        .weather {
                            flex-direction: column;
                        }
                    }
                }
    
                &.details {
                    mat-card-content {
                        display: flex;
        
                        p {
                            margin: auto 0;
                            font-size: 1.5rem;
                            font-weight: 500;
                            color: #02364E;
                            white-space: nowrap;
        
                            span {
                                font-size: .8rem;
                            }
                        }
    
                        img {
                            width: 48px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    main {
        .search-box {
            app-search-input {
                width: 90%;
            }
        }
    
        .container {
            display: block;
    
            mat-card {
                margin: 10px auto;
    
                mat-card-content {
                    justify-content: space-evenly;
    
                    .weather {
                        display: block;
                    }
                }
            }
        }
    }
}