@use '@angular/material' as mat;
@include mat.core();

$custom-palette: (
  50: #D5F0FC,
  100: #AEDFF4,
  200: #83CEEF,
  300: #51B8E5,
  400: #27A3DB,
  500: #008DCC,
  600: #0376AA,
  700: #006592,
  800: #004D70,
  900: #023d58,
  A100: #8eddff,
  A200: #63c0e7,
  A400: #27adeb,
  A700: #0098da,
  contrast: (
    50: #012839,
    100: #012839,
    200: #012839,
    300: #012839,
    400: #012839,
    500: #012839,
    600: #DDE7EB,
    700: #DDE7EB,
    800: #DDE7EB,
    900: #DDE7EB,
    A100: #012839,
    A200: #012839,
    A400: #012839,
    A700: #012839,
  )
);

$my-app-primary: mat.m2-define-palette($custom-palette, 600, 50, 900);
$my-app-accent: mat.m2-define-palette($custom-palette, A200, A100, A400);
$my-app-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);

$my-app-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
    warn: $my-app-warn
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

@include mat.all-component-themes($my-app-theme);

:root {
  --color-blue-shadow: #012839;
  --color-white-smoke: #DDE7EB;
}